*{
  padding: 0%;  
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#navbar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #F7D8CC,#f6c7cf) ;
    padding: 0%;
}